
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   a {
        font-size: 1.6rem;
        padding: 20px;
        text-decoration: none;
        padding-bottom: 30px;
        color: @white;

    &:hover {
      color: @footer-bg;
  }
 }
}